<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="../scripts/angular.min.js"></script>
        <script src="app.js"></script>
        <style>
            body {
                font-size: 1.3em;
            }
        </style>
        <title>Angular Js Demo</title>
    </head>
    <body>
        <!-- <div  ng-app="myFirstApp">
    <h1>Name Caluculator</h1>
    <div ng-controller="nameCaluculatorController">
      Your Name:
      <input type="text" ng-model="name" ng-keyup = "displayNumeric();">
      <div>
        Total numeric values of person's name is : {{totalValue}}
      </div>
    </div>
    </div> -->

        <!--        <div ng-app="DIApp">
                    <h1>Dependeny injection in javascript (and Angular JS)</h1>
                    <div ng-controller="DIController">
                        <input type="text" ng-model="DIName" ng-blur="upper();">
                    </div>
                </div>-->
        <div ng-app="msgApp">
            <div ng-controller="MsgController">
                {{name}} has something for you : <br>
                Original : {{sayMessage()}}<br>
                Love : {{sayLovesMessage()}}<br>
                Truth : {{sayLovesMessage() | truth : 'beer' : 'whiskey'}}<br>
                Big Truth : {{sayLovesMessage() | truth : 'beer' : 'whiskey' | uppercase}}<br>
                Cost : {{ checkCost | currency }}
                <div>
                    <button ng-click="feedMahesh()">Feed Mahesh</button><br>
                    <img ng-src="images/mahesh_{{state}}.png">
                </div>

                <div>
                    <button ng-click="noOfWatchers()"># of watchers</button><br>
                    <button ng-click="onceCounter()">log once counter</button><br>
                    <button ng-click="upCounter()">log incremental counter</button><br>
                    First one count : {{oncecount}}
                    Second one count : {{counter}}
                </div>
            </div>
        </div>
    </body>
</html>
